# Игнорировать папки и файлы настроек IDE
.idea/
*.iml
.vscode/

# Игнорировать файлы компиляции
/build/
bin/
out/

# Игнорировать файлы зависимостей
*.jar
*.apk
*.dex

# Игнорировать файлы логов и временные файлы
*.log
*.tmp
*.swp

# Игнорировать конфиденциальные файлы (например, ключи)
*.keystore
*.env